torch
torchvision
torchaudio

ultralytics
insightface

opencv-python
pyserial
numpy
scipy
transformers
mediapipe
flask
rembg
huggingface_hub

onnxruntime==1.20.1

flask-socketio 
eventlet

#--extra-index-url https://download.pytorch.org/whl/cu128