
--extra-index-url https://download.pytorch.org/whl/cu128

torch 
torchvision --index-url https://download.pytorch.org/whl/cu121
torchaudio
ultralytics
insightface
onnxruntime-gpu
opencv-python
pyserial
numpy
scipy
transformers
mediapipe 
flask
rembg
huggingface_hub --break-system-packages